header {
  background-color: #f5f7fa;
}

main {
  background-color: #fff;
}

footer {
  background-color: #354859;
}

.inner {
  width: 1170px;
  margin: 0 auto;
}

.header-top {
  height: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ad-box {
  width: 275px;
  height: 40px;
}

.header-text {
  font-size: 12px;
  color: #506a85;
  padding: 14px 26px 14px 20px;
}

.icon-box {
  width: 260px;
  height: 40px;
}

.icon-box > li {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.header-icon-posi {
  padding: 14.5px 17px;
  box-sizing: border-box;
}

.mail {
  background-image: url(../img/header/icon-mail-off.png);
  background-repeat: no-repeat;
  background-position: left;
}

.mail:hover {
  background-image: url(../img/header/icon-mail-on.png);
}

.phone {
  background-image: url(../img/header/icon-tel-off.png);
  background-repeat: no-repeat;
  background-position: left;
}

.phone:hover {
  background-image: url(../img/header/icon-tel-on.png);
}

.facebook {
  background-image: url(../img/header/icon-facebook-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover {
  background-image: url(../img/header/icon-facebook-on.png);
  background-color: #4668b3;
}

.google {
  background: url(../img/header/icon-google-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.google:hover {
  background-image: url(../img/header/icon-google-on.png);
  background-color: #de5745;
}

.twitter {
  background: url(../img/header/icon-twitter-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:hover {
  background-image: url(../img/header/icon-twitter-on.png);
  background-color: #2fbbed;
}

.pint {
  background: url(../img/header/icon-pinterest-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pint:hover {
  background-image: url(../img/header/icon-pinterest-on.png);
  background-color: #d94348;
}

.behance {
  background: url(../img/header/icon-behance-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.behance:hover {
  background-image: url(../img/header/icon-behance-on.png);
  background-color: #3079ff;
}

.dribbble {
  background: url(../img/header/icon-dribbble-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

.dribbble:hover {
  background-image: url(../img/header/icon-dribbble-on.png);
  background-color: #eb6397;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.header-text:hover {
  color: #00bc9c;
}

/*ここから nav */

.header-bottom {
  height: 100px;
  background-color: #fff;
}

.nav-box {
  width: 1170px;
  height: 100px;
  display: table;
  background-image: url(../img/header/logo.png);
  background-repeat: no-repeat;
  background-position: left;
}

.nav-box > li {
  height: 100px;
  color: #506a85;
  font-size: 15px;
  padding: 42.5px 22px;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
}

.home {
  width: 46px;
}

.pratfolio {
  width: 84px;
}

.blog {
  width: 40px;
}

.features {
  width: 73px;
}

.megamenu {
  width: 89px;
}

.contact {
  width: 71px;
}

.nav-box > li:hover {
  color: #00bc9c;
}

/*ここからmain*/

.keyvisual {
  padding: 300px 0;
  box-sizing: border-box;
  background-image: url(../img/main/keyvisual.jpg);
}

.main-title-text {
  color: #fff;
  font-size: 78px;
  text-align: center;
}

.main-text {
  margin-top: 26px;
  text-align: center;
  line-height: 1.5;
  color: #a3b1bf;
  font-size: 24px;
}

.key-btn {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  background: #00bc9c;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-bottom: solid 4px #00a085;
  margin: 0 auto;
  margin-top: 50px;
}

.key-btn:active {
  background: #00a085;
}

/*ここからsection*/

.sec-title {
  padding-top: 120px;
  font-size: 44px;
}

.sec-text {
  color: #506a85;
  text-align: center;
}

.sec-side {
  font-size: 22px;
  margin-top: 30px;
  line-height: 1.5;
}

.container {
  display: table;
  margin-top: 70px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.container > li {
  width: 400px;
  height: 170px;
  display: table-cell;
}

.sec-contents {
  width: 300px;
  height: 170px;
}

.contents-title {
  font-size: 26px;
  color: #506a85;
}

.contents-text {
  margin-top: 20px;
  font-size: 16px;
  color: #506a85;
  line-height: 1.5;
}

/*ここからfig*/

.work {
  background-color: #f5f7fa;
}

.fig-img-box {
  margin-top: 70px;
  height: 490px;
}

.fig-img {
  width: 570px;
  height: 390px;
  position: relative;
}

.fig-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,188,156,0.9);
  transition: all 0.3s ease;
}

.caption {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.fig-padd-big {
  padding-top: 182px;
}

.workbox:hover .fig-hover {
  opacity: 1;
}

.workbox:hover .is-big{
  color: #00bc9c;
}

.fig-img-text {
  width: 570px;
  height: 100px;
  background-color: #fff;
}

.fig-text {
  color: #506a85;
  text-align: center;
  box-sizing: border-box;
}

.is-big {
  padding-top: 30px;
  height: 50%;
  font-size: 20px;
}

.is-small {
  padding-top: 10px;
  font-size: 14px;
}

.fig-foot {
  height: 185px;
  padding: 80px 0 120px;
}

.fig-foot > li {
  width: 270px;
  height: 185px;
  position: relative;
  margin-left: 30px;
}

.fig-padd-small {
  padding-top: 72.5px;
}

.fig-foot > li:hover .fig-hover {
  opacity: 1;
}

.fig-foot > li:first-child {
  margin-left: 0;
}

.main-btn-box {
  padding: 80px 0 150px;
  box-sizing: border-box;
}

.main-btn {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  background: #00bc9c;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-bottom: solid 4px #00a085;
  margin: 0 auto;
}

.main-btn:active {
  background: #00a085;
}

/*ここからfooter*/

.footer-top > li {
  width: 262.5px;
  padding: 75px 40px 75px 0;
  float: left;
}

.footer-top > li:last-child {
  padding-right: 0;
}

.footer-title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-text {
  color: #a3b1bf;
  font-size: 14px;
  line-height: 1.5;
  margin: 30px 0 20px;
}

.footer-ander-text {
  margin-top: 20px;
}

.footer-img-box {
  width: 260px;
  height: 170px;
}

.footer-img {
  width: 125px;
  height: 85px;
  display: inline-block;
  position: relative;
}

.footer-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,188,156,0.9);
  transition: all 0.3s ease;
  padding-top: 34.5px;
  box-sizing: border-box;
}

.footer-img:hover .footer-hover {
  opacity: 1;
}

.footer-icon {
  color: #a3b1bf;
  font-size: 14px;
  padding:5px 20px;
}

.footer-map {
  background-image: url(../img/footer/icon-address-off.png);
  background-repeat: no-repeat;
  background-position: left;
}

.footer-map:hover {
  background-image: url(../img/footer/icon-address-on.png);
}

.footer-phone {
  background-image: url(../img/footer/icon-tel-off.png);
  background-repeat: no-repeat;
  background-position: left;
}

.footer-phone:hover {
  background-image: url(../img/footer/icon-tel-on.png);
}

.footer-mail {
  background-image: url(../img/footer/icon-mail-off.png);
  background-repeat: no-repeat;
  background-position: left;
}

.footer-mail:hover {
  background-image: url(../img/footer/icon-mail-on.png);
}

.footer-icon:hover {
  color: #00bc9c;
}

.footer-form {
  width: 260px;
  height: 42px;
  background: #a3b1bf;
  border-radius: 5px;
}

.footer-input-init {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer-input {
  padding: 13px;
  border-radius: 3px;
  background-color: #a3b1bf;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.footer-btn {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  font-size: 16px;
  background: #00bc9c;
  color: #fff;
  text-align: center;
  line-height: 12px;
  cursor: pointer;
  border-bottom: solid 4px #00a085;
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-right: 3px;
}

.footer-btn:active {
  background: #00a085;
}

.footer-bottom {
  width: 100%;
  height: 74px;
  background-color: #2e3d4c;
  display: inline-block;
}

.footer-bottom-right > li {
  color: #a3b1bf;
  font-size: 14px;
  line-height: 1.5;
  margin: 30px 0 20px;
  display: inline-block;
}

.f-home:hover {
  color: #00bc9c;
}

.f-portfolio:hover {
  color: #00bc9c;
}

.f-blog:hover {
  color: #00bc9c;
}

.f-about:hover {
  color: #00bc9c;
}

.f-services:hover {
  color: #00bc9c;
}

.f-contact:hover {
  color: #00bc9c;
}
